* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition:background 1s;
}

/* #root {
    height: 100vh;
    width:100vw;
    overflow: hidden;
} */

